
@{
    ViewData["Title"] = "4669026-GIUV Navod";
}
<head>
    <style>
        input {
            width: 100%;
            background-color: mediumpurple;
            color: white;
            padding: 14px 20px;
            margin-bottom: 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            text-decoration: none;
        }
    </style>
</head>
<h1>Confirmation</h1>

<input type="submit" value="View Status" />

